%tr[corruption_case]
  %td= corruption_case.name
  %td= corruption_case.place
  %td= corruption_case.stolen_amount
  %td= corruption_case.trial_start_at
  %td= corruption_case.sentence
  %td= corruption_case.user&.email
