= simple_form_for @corruption_case do |f|
  = f.input :name
  = f.input :description, as: :text
  = f.input :stolen_amount, as: :integer
  = f.input :place
  = f.input :trial_start_at, as: :integer
  = f.input :sentenced_at, as: :integer
  = f.input :sentence, collection: CorruptionCase.sentences.keys
  = f.input :european_funds_project

  = f.submit